# documents
docs/api

# node modules
node_modules
dist

# environment files
.env

# user uploaded files
src/api/uploads

# cache file
.cache

# logging
*.log
logs/

# test
# .nyc
# .nyc_output
# coverage
# mochawesome-report

# personal TODO
# TODO.md

# docker mounted volumes
# docker
# .docker
# data
# .data